$radius: 5px;
$mainColor: #404040;
$align: center;
$bodyFont: 'Londrina Sketch', cursive;
$listFont: 'Vibur', cursive;


body{
	font-size: 16px;
	background-color: #fce38a;	
	font-family: $bodyFont;
    font-weight: bolder;
    text-align: justify;

    #header-nav{
		background-color: #f38181;
		border-radius: 0;
		border: 0;
	}

	img{
		margin-top: 5px;
		margin-bottom: 5px;
		max-width: 150px;
	}

	.navbar-brand {
		a:link {
		    text-decoration: none;
		}

		h1{
			font-weight: bold; 
			color: $mainColor;
			text-shadow: 1px 1px 1px #3385ff;
		}

		span{
			color: #4d4d4d;
		}
	}

	button:hover{
		opacity: 1;
	}

	.taskManager{
		&__button-add{
			border-radius: $radius;
			background-color: #32cd32;
			font-size: 1.2em;
			opacity: 0.85;
			height: 35px;
			width: 110px;
		}
		&__button-remove{
			border-radius: $radius;
			background-color: #ff0000;
			font-size: 1.2em;
			opacity: 0.85;
			height: 35px;
			width: 110px;
		}
		&__button-numsort{
			border-radius: $radius;
			background-color: #0a9bf5;
			font-size: 1.2em;
			opacity: 0.85;
			height: 35px;
			width: auto;
		}
		&__button-namesort{
			border-radius: $radius;
			background-color: #0a9bf5;
			font-size: 1.2em;
			opacity: 0.85;
			height: 35px;
			width: auto;
		}

		&__list{
			text-align: $align;
			font-family: $listFont;
			margin-top: 10px;
			&-odd{
				border-radius: $radius;
				background: red;
  				background: -webkit-linear-gradient(#F0F8FF , #a8f0ec);
  				text-align: $align;
  				margin-bottom: 2px;
  				opacity: 0.9;
  				width: 80%;
			}
			
			&-odd:hover{
				box-shadow: 1px 1px 10px $mainColor;
				opacity: 1;
				-webkit-transition: width 2s;
    			transition: width 2s;
				width:100%;
			}

			&-odd:not(:hover){
				-webkit-transition: width 2s;
    			transition: width 2s;
				width:80%;
			}

			&-even{
				border-radius: $radius;
				background: yellow;
  				background: -webkit-linear-gradient(#a8f0ec , #F0F8FF);
  				text-align: $align;
  				margin-bottom: 2px;
  				opacity: 0.9;
  				width: 80%;
			}

			&-even:hover{
				box-shadow: 2px 2px 10px $mainColor;
				opacity: 1;
				-webkit-transition: width 2s;
    			transition: width 2s;
    			width: 100%;
			}

			&-even:not(:hover){
				-webkit-transition: width 2s;
    			transition: width 2s;
				width:80%;
			}
		}
	}

}

@media (max-width: 252px){
	.navbar-brand{
		padding-top: 0px;
		padding-bottom: 125px;
		font-size: 1.2em;
		span{
			visibility: hidden;
		}
	}

	body .taskManager{
		button{
			width: 100%;
			margin-bottom: 2px;
		}
	}
}

@media (min-width: 253px) and (max-width: 767px){
	.navbar-brand{
		padding-left: 30px;
		padding-top: 0px;
		padding-bottom: 120px;
		font-size: 1.3em;
	}
	body .taskManager{
		button{
			width: 100%;
			margin-bottom: 2px;
		}
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.navbar-brand{
		padding-top: 0px;
		padding-bottom: 110px;
		font-size: 1.3em;
	}
	img{
		margin-top: 5px;
		max-height: 100px;
	}
}

@media(min-width: 992px){
	.navbar-brand{
		h1{
			font-size: 3em;
		}
		span{
			font-size: 1.5em;
		}
	}
}